In [25]:
# how do I declare the value of string and n and print it?

def repeater(string, n):
    return string * n

dodge_five = repeater(string = 'Dodge', n = 5)

In [27]:
repeater('Dodge', 3)

'DodgeDodgeDodge'

In [26]:
dodge_five

'DodgeDodgeDodgeDodgeDodge'

In [1]:
# again how do i assign a madhu grover to first and last?
# I did not understand the area code extractor?

def greet_jedi(first, last):
    first = first.capitalize()
    last = last.capitalize()
    jedi_name = last[0:3] + first[0:2]
    return 'Greetings, master ' + jedi_name

greet_jedi(first = 'Dodge', last = 'McIntosh')

'Greetings, master MciDo'

In [32]:
# need to understand both start and end.

def area_code(text):
    start = text.find('(')
    end = text.find(')')
    return text[(start + 1) : end]

area_code('(760)-390-8873')

'760'

In [33]:
str((212)-729-3979)

'-4496'

In [34]:
area_code('-4496')

'-449'

In [35]:
# I understand the split and join but do not get the flow of the logic. are we splitting when we
# come across a full stop? then are we joining again with a \n which is a new tab or line?

def format_poem(poem):
    sentences = poem.split('. ')
    result = '.\n'.join(sentences)
    print(result)

format_poem('''Two roads diverged in a yellow wood. And sorry I could not travel both. And be one traveler, long I stood. And looked down one as far as I could. To where it bent in the undergrowth.''')

Two roads diverged in a yellow wood.
And sorry I could not travel both.
And be one traveler, long I stood.
And looked down one as far as I could.
To where it bent in the undergrowth.

In [36]:
corpus = '''Two roads diverged in a yellow wood. And sorry I could not travel both. And be one traveler, long I stood. And looked down one as far as I could. To where it bent in the undergrowth.'''

In [40]:
corpus.split('. ')

['Two roads diverged in a yellow wood',
 'And sorry I could not travel both',
 'And be one traveler, long I stood',
 'And looked down one as far as I could',
 'To where it bent in the undergrowth.']

In [42]:
print('.\n'.join(corpus.split('. ')))

Two roads diverged in a yellow wood.
And sorry I could not travel both.
And be one traveler, long I stood.
And looked down one as far as I could.
To where it bent in the undergrowth.

In [30]:
# what am I doing wrong here??

def celsius_to_romer(temp):
    return temp * 21/40 + 7.5

print(celsius_to_romer(20))

18.0

In [ ]:
# how do I add
# if guess_blue >= 0.6 then blue otherwise red.

def guess_blue(blue_start, red_start, blue_pulled, red_pulled):
    blue_remaining = blue_start - blue_pulled
    red_remaining = red_start - red_pulled
    return blue_remaining / (blue_remaining + red_remaining)

guess_blue(blue_start = 100, red_start = 100, blue_pulled)

In [21]:
# options are sunny, cloudy, rainy

def take_umbrella(weather, rain_chance):
    if weather == 'rainy':
        return True
    elif weather == 'cloudy' and rain_chance > .2:
        return True
    elif weather == 'sunny' and rain_chance > .5:
        return True
    else:
        return False
    
take_umbrella('cloudy', .1)

False

In [20]:
def take_umbrella(weather, rain_chance):
    a = weather == 'rainy'
    b = weather == 'cloudy' and rain_chance > 0.20
    c = weather == 'sunny' and rain_chance > 0.50
    return bool(a or b or c)

In [12]:
def my_add(a, b):
    try:
        result = a + b
        return "{} is the sum of {} and {}".format(result, a, b)
    except TypeError:
        return "Nope! '{}' and '{}' are incompatible data types for addition!".format(a, b)
    
print(my_add(5,6))
print(my_add(5, 'Supeoiu hfoiehgg'))

11 is the sum of 5 and 6
Nope! '5' and 'Supeoiu hfoiehgg' are incompatible data types for addition!

You're playing a game with a friend involving a bag of marbles. In the bag are ten marbles:

- 1 smooth red marble
- 1 smooth yellow marble
- 1 smooth green marble
- 1 bumpy green marble
- 4 bumpy red marbles
- 2 bumpy yellow marbles


You can see that the probability of picking a smooth red marble from the bag is 1 / 10 or 0.10 and the probability of picking a bumpy yellow marble is 2 / 10 or 0.20.

The game works like this: your friend puts her hand in the bag, chooses a marble (without looking at it) and tells you whether it's bumpy or smooth. Then you have to guess which color it is before she pulls it out and reveals whether you're correct or not.

You know that the information about whether the marble is bumpy or smooth changes the probability of what color it is, and you want some help with your guesses.

Write a function `color_probability()` that takes two arguments: `a color ('red', 'yellow', or 'green')` and a `texture ('bumpy' or 'smooth')` and returns the probability as a decimal fraction accurate to two places.

The probability should be a string and should discard any digits after the 100ths place. For example, 2 / 3 or 0.6666666666666666 would become the string '0.66'. Note this is different from rounding.

As a complete example, color_probability('red', 'bumpy') should return the string '0.57'.

In [13]:
def color_probability(color, texture):
    if texture == 'bumpy': 
        if color == 'red':
            prob = 4/7 
        elif color == 'yellow': 
            prob = 2/7 
        else: 
            prob = 1/7 
    else:
        prob = 1/3
    return str(prob)[:4]

color_probability('red', 'bumpy')

'0.57'

In [4]:
a_list = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

less_than_ten = []

for number in a_list:
    if number < 10:
        less_than_ten.append(number)

less_than_ten

[1, 1, 2, 3, 5, 8]

In [5]:
[number for number in a_list if number < 10]

[1, 1, 2, 3, 5, 8]

In [6]:
[(number * 2) for number in a_list if number < 10]

[2, 2, 4, 6, 10, 16]

In [8]:
first = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
second = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [12]:
results = []

for number in first:
    if number in second:
        results.append(number)
        
results

[1, 1, 2, 3, 5, 8, 13]

In [11]:
1 in second

True

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('movie_ratings.csv')

In [18]:
df.columns

Index(['Day of Week', 'Director', 'Genre', 'Movie Title', 'Release Date',
       'Studio', 'Adjusted Gross ($mill)', 'Budget ($mill)', 'Gross ($mill)',
       'IMDb Rating', 'MovieLens Rating', 'Overseas ($mill)', 'Overseas%',
       'Profit ($mill)', 'Profit%', 'Runtime (min)', 'US ($mill)',
       'Gross % US'],
      dtype='object')

In [19]:
[name.lower().replace(' ', "_") for name in df.columns]

['day_of_week',
 'director',
 'genre',
 'movie_title',
 'release_date',
 'studio',
 'adjusted_gross_($mill)',
 'budget_($mill)',
 'gross_($mill)',
 'imdb_rating',
 'movielens_rating',
 'overseas_($mill)',
 'overseas%',
 'profit_($mill)',
 'profit%',
 'runtime_(min)',
 'us_($mill)',
 'gross_%_us']

In [27]:
# Taking advantage of pandas
old_col_names = list(df.columns)

# List comprehensions
new_col_names = [name.lower().replace(' ', "_") for name in old_col_names]

# Base Python
zip(old_col_names, new_col_names)

# More base Python
dict(zip(old_col_names, new_col_names))

{'Day of Week': 'day_of_week',
 'Director': 'director',
 'Genre': 'genre',
 'Movie Title': 'movie_title',
 'Release Date': 'release_date',
 'Studio': 'studio',
 'Adjusted Gross ($mill)': 'adjusted_gross_($mill)',
 'Budget ($mill)': 'budget_($mill)',
 'Gross ($mill)': 'gross_($mill)',
 'IMDb Rating': 'imdb_rating',
 'MovieLens Rating': 'movielens_rating',
 'Overseas ($mill)': 'overseas_($mill)',
 'Overseas%': 'overseas%',
 'Profit ($mill)': 'profit_($mill)',
 'Profit%': 'profit%',
 'Runtime (min)': 'runtime_(min)',
 'US ($mill)': 'us_($mill)',
 'Gross % US': 'gross_%_us'}